/* styles.css */

/* Container styles */
.divCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  
  /* Button styles */
  .divCon button {
    border: 1px solid rgb(97, 193, 97);
    background-color: rgb(97, 193, 97);
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 220px;
    border-radius: 10px;
    margin-top: 20px; /* Adjusted margin for better spacing */
  }
  
  /* Title styles */
  .titleStyle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; /* Adjusted margin for better spacing */
  }
  