.divCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.divCon button {
    border : 1px solid rgb(97, 193, 97);
    background-color: rgb(97, 193, 97);
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 220px;
    border-radius: 10px;
    margin-top: 40px;
}